


body {
    
    background-color: black;
    color: #ffffff;
    font-family:  sans-serif;
    font-size: 16px; 
    
}

/*--------------------------------- typography *------------------------------------*/







h2{
    
    font-weight: bold;
    border-bottom: 1px solid white;
    padding: 10px 0px;
    letter-spacing: 1px; 
    color: white;
    background-color:black;
    font-family:Garamond;font-size:1.5vw;
   
   
}


.subh{
    
 
    font-weight: bold;
    padding: 50px 0px;
    letter-spacing: 1px; 
    color: #edd6b3;
    background-color:black;
    font-family:Brawler;font-size:3.5vw;
    text-align: center;
   
   
}


.subhg{
    
 
    font-weight: bold;
    padding: 50px 0px;
    letter-spacing: 1px; 
    color: #edd6b3;
    background-color:black;
    font-family:Brawler;font-size:3.5vw;
    text-align: center;
   
   
}


/*.linksleft{
    
 
    font-weight: bold;
    letter-spacing: 1px; 
    color: white;
    background-color:black;
    font-family:Brawler;font-size:2.5vw;
    text-align: left;
   
   
   
}

.linksright{
    
 
    font-weight: bold;
    letter-spacing: 1px; 
    color: white;
    background-color:black;
    font-family:Brawler;font-size:2.5vw;
    text-align: right;
   
    
   
   
}*/



h3{
    font-family:Garamond;font-size:2.8vw;
    font-weight: bold;
    letter-spacing: 1px; 
    color: #edd6b3;
    background-color:black;    
    margin-left: 5%;
    margin-top: 40px;
  
    
   
}
#intro{
  
    font-family:Garamond;font-size:2.4vw;
    font-weight: bold;
    margin-bottom: 2%;
    margin-top: 0%;
    letter-spacing: 1px; 
    color: #edd6b3;
    background-color:black;    
    text-align: center;
}



#statement{
  
    font-family:Garamond;font-size:2.4vw;
    font-weight: bold;
    margin-bottom: 2%;
    margin-top: 6%;
    letter-spacing: 1px; 
    color: #edd6b3;
    background-color:black;    
    text-align: center;
}

#about{
    
    font-family:Garamond;font-size:2.4vw;
    font-weight: bold;
    margin-bottom: 2%;
    letter-spacing: 1px; 
    color: #edd6b3;
    background-color:black;    
    margin-left: 60%;
  
    
   
}

#design{
       
    margin-top: 3%;
    margin-bottom: 2%;
    font-family:Garamond;font-size:2.4vw;
    font-weight: bold;
    letter-spacing: 1px; 
    color: #edd6b3;
    background-color:black;    
    margin-left: 10%;
   
    
}


#awards{
       
    margin-top: 4%;
        margin-bottom: 2%;

    font-family:Garamond;font-size:2.4vw;
    font-weight: bold;
    letter-spacing: 1px; 
    color: #edd6b3;
    background-color:black;    
   text-align: center;
   
    
}


.pabout{
  
  
   margin-left: 30%;
    margin-right: 5%;
    padding: 10px 0px; 
    letter-spacing: 1px; 
    color: black;
    background-color:black;
    font-family:Garamond;
    font-size:1.5vw;
    text-align: left;
    background-color: #edd6b3;
    border-radius:10px;
  
        
}

.parch{
  
  
   margin-left: 40%;
    margin-right: 5%;
    padding: 10px 0px; 
    letter-spacing: 1px; 
    color: black;
    background-color:black;
    font-family:Garamond;
    font-size:1.5vw;
    text-align: left;
    background-color: #edd6b3;
    border-radius:10px;
  
        
}


.award{
  
  
   margin-left: 5%;
    margin-right: 5%;
    padding: 10px 0px; 
    letter-spacing: 1px; 
    color: black;
    background-color:black;
    font-family:Garamond;
    font-size:1.5vw;
    text-align: left;
    background-color: #edd6b3;
    border-radius:25px;
    margin-bottom: 5%;
  
        
}
p{
   margin-left: 15%;
       margin-right: 15%;
    padding: 10px 0px; 
    letter-spacing: 1px; 
    color: black;
    background-color:black;
    font-family:Garamond;
    font-size:1.5vw;
    text-align: center;
    background-color: #edd6b3;
    border-radius:25px;
}




.churchills{
    
   margin-left: 5%;
    margin-right: 5%;
    padding: 10px 0px; 
    letter-spacing: 1px; 
    color: black;
    background-color:black;
    font-family:Garamond;
    font-size:1.5vw;
    text-align: left;
    background-color: #edd6b3;
    border-radius:25px;
    margin-bottom: 5%;
    margin-top: 5%;
    
}


#history{
     margin-top: 3%;
    margin-bottom: 2%;
    font-family:Garamond;font-size:2.4vw;
    font-weight: bold;
    letter-spacing: 1px; 
    color: #edd6b3;
    background-color:black;    
    margin-left: 10%;
    
}



#mainbuilding{
  
   margin-top: 3%;
    margin-bottom: 2%;
    font-family:Garamond;font-size:2.4vw;
    font-weight: bold;
    letter-spacing: 1px; 
    color: #edd6b3;
    background-color:black;    
    margin-left: 10%;
 
  
        
}

#north{
       
    margin-top: 4%;
        margin-bottom: 2%;

    font-family:Garamond;font-size:2.4vw;
    font-weight: bold;
    letter-spacing: 1px; 
    color: #edd6b3;
    background-color:black;    
   text-align: center;
   
    
}


#landscape{
       
    margin-top: 4%;
        margin-bottom: 2%;

    font-family:Garamond;font-size:2.4vw;
    font-weight: bold;
    letter-spacing: 1px; 
    color: #edd6b3;
    background-color:black;    
   text-align: center;
   
    
}

#stylistic{
       
    margin-top: 4%;
        margin-bottom: 2%;

    font-family:Garamond;font-size:2.4vw;
    font-weight: bold;
    letter-spacing: 1px; 
    color: #edd6b3;
    background-color:black; 
     margin-left: 10%
   
    
}


/*--------------------------------- typography *--------------------0----------------*/

/*--------------------------------- links *------------------------------------*/

a{ 
    color: white;
    text-decoration: none;
    font-size:1.5vw;
   

}
/*--------------------------------- links *----------------------0--------------*/

/*--------------------------------- imgaes *------------------------------------*/

.homeimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}


.robin{

    
   margin-top: 0px; 
    margin-left: 19px;
  border-radius: 25px;
   height: 15%;
    width: 25%;
}


.arch{


   margin-top: 0px; 
      margin-bottom: px; 
    margin-left: 19px;
  border-radius: 25px;
   height: 15%;
    width: 35%;
}




/*--------------------------------- imgaes *---------------------0---------------*/


/*--------------------------------- header *------------------------------------*/
header {

    padding:0px;
   
}


.containerh{
    position: relative;
    text-align:center;
    color:white; 
    opacity: 0.9;
    
}

.centreredh{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%); 
    font-size:5.5vw;
    color: #840705;
    font-family: "helvetia";
    
}


.charcoal{


   margin-top: 0px; 
      margin-bottom: 2%; 
 
    margin-left: 19px;
  border-radius: 25px;
   height: 15%;
    width: 35%;
}
/*--------------------------------- header *-----------------------0-------------*/


/*--------------------------------- navigation *------------------------------------*/


body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
   
}

ul.topnav li {float: left;
/*get rid to resposiveness */    width: 25%;

  
}


ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
    font-family: Amiri;
        
  padding: 14px 16px;

  text-decoration: none;
    

}

ul.topnav li a:hover:not(.active) {background-color: #edd6b3;}

ul.topnav li a.active {background-color: #4d4d4d;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}


/* Vertical Navigation */





/*--------------------------------- navigation *------------------0------------------*/

.keepleft{
    max-width: 30px;   
   
}


navcontainer ul
{
margin: 10px;
padding: 0px;
list-style-type: none;
}

#navcontainer a
{
font-family: Amiri; 
font-size:1.5vw;
display: inline-block;
color: #FFF;
background-color: #000000;
width: 7em;
padding: 3px 12px 3px 8px;
text-decoration:none;
border-bottom: 1px solid #fff;
font-weight: bold;
}

#navcontainer a:hover
{
background-color: #edd6b3;
color: #FFF;
}

#navcontainer li li a
{

font-family: Amiri;
font-size:1.5vw;
display: inline-block;
color: #FFF;
background-color: black;

padding: 3px 3px 3px 17px;
text-decoration: none;
border-bottom: 0px solid #fff;
font-weight: normal;
}
/*--------------------------------- hr element *------------------------------------*/




/*--------------------------------- hr element *-------------------0-----------------*/
hr.line {
  border: 7px solid white;
  border-radius: 0px;
}

hr.linegallery {
  border: 7px solid white;
  border-radius: 0px;
margin-top: 5%;

}



/*--------------------------------- main *------------------------------------*/


main{
    
    background-color:black;
    padding: 60px;
    overflow: auto;
}


mainv{
    
    background-color:black;
    padding: 0px;
    overflow: auto;
}





/*--------------------------------- main *-----------------0-------------------*/



/*--------------------------------- carasoul *------------------------------------*/


* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}+


/*--------------------------------- carasoul *----------------0--------------------*/

/*--------------------------------- footer *------------------------------------*/


 
footer{
    background-color:black;
        padding: 20px;

}

/* Footer */

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
/*  height: 300px;  Should be removed. Only for demonstration */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



/*--------------------------------- footer *-------------0-----------------------*/







