body {
    
    background-color: black;
    color: #ffffff;
    font-family:  sans-serif;
    font-size: 16px; 
    
}

/*--------------------------------- typography *------------------------------------*/







h2{
    
    font-weight: bold;
    border-bottom: 1px solid white;
    padding: 10px 0px;
    letter-spacing: 1px; 
    color: white;
    background-color:black;
    font-family:Garamond;font-size:1.5vw;
   
   
}


.subh{
    
 
    font-weight: bold;
    padding: 50px 0px;
    letter-spacing: 1px; 
    color: white;
    background-color:black;
    font-family:Brawler;font-size:2.5vw;
    text-align: center;
   
   
}







 
/*--------------------------------- typography *--------------------0----------------*/

/*--------------------------------- links *------------------------------------*/

a{ 
    color: white;
    text-decoration: none;
    font-size: 20px;
   

}
/*--------------------------------- links *----------------------0--------------*/


/*--------------------------------- header *------------------------------------*/
header {

    padding:0px;
   
}


.containerh{
    position: relative;
    text-align:center;
    color:white; 
    opacity: 0.9;
    
}

.centreredh{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%); 
    font-size: 80px;
    color: #840705;
    font-family: "helvetia";
    
}



/*--------------------------------- header *-----------------------0-------------*/


/*--------------------------------- navigation *------------------------------------*/


body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
   
}

ul.topnav li {float: left;
/*get rid to resposiveness */    width: 25%;

  
}


ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
    font-family: Amiri;
        
  padding: 14px 16px;

  text-decoration: none;
    

}

ul.topnav li a:hover:not(.active) {background-color: #edd6b3;}

ul.topnav li a.active {background-color: #4d4d4d;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}


/*--------------------------------- navigation *------------------0------------------*/



/*--------------------------------- hr element *------------------------------------*/




/*--------------------------------- hr element *-------------------0-----------------*/
hr.line {
  border: 7px solid white;
  border-radius: 0px;
}



/*--------------------------------- main *------------------------------------*/


main{
    
    background-color:black;
    padding: 20px;
    overflow: auto;
}

p{
   

    margin-left: 10%;
    margin-right: 10%;
    padding: 10px 0px; 
    letter-spacing: 1px; 
    color: black;
    background-color:black;
    font-family:Garamond;
    font-size:1.5vw;
    text-align: center;
    background-color: #edd6b3;
    border-radius:25px;
    
   

   
    
}

/*--------------------------------- main *-----------------0-------------------*/




/*--------------------------------- footer *------------------------------------*/


 
footer{
    background-color:black;
        padding: 20px;

}

/* Footer */

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
/*  height: 300px;  Should be removed. Only for demonstration */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



/*--------------------------------- footer *-------------0-----------------------*/







